@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

.container {
    display: grid;
    width: fit-content;
    grid-template-columns: 3.125rem auto;

    img {
        width: 3.125rem;
        height: 3.125rem;
    }

    h1 {
        margin: 0 0 0 .5rem;
        width: fit-content;
        font-family: 'Poppins', sans-serif;
        font-size: 2rem;
        clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
        animation: logo 500ms 800ms forwards;
    }

    @keyframes logo {
        from {
            clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
        }

        to {
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        }
    }
}